<h1>PartyNbeers <i class="fa-solid fa-beer-mug-empty"></i> </h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Notre slogan</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Find your party!</h3>
    <%= link_to "Create a new party", new_party_flat_path, class: "btn btn-flat" %>
  </div>

</div>
