.card-text {
    background-size: cover;
    background-position: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
