.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: bold;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: bold;

}

