.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(243, 240, 236, 0.404);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 60px;
  font-size: 40px;
}

.text-logo {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 40px;
}
